# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask
instance/
.webassets-cache

# VS Code
.vscode/

# Build outputs
build/
dist/
*.spec

# OS
.DS_Store
Thumbs.db

# Environment
.env
venv/

# Excel/CSV outputs
outputs/
converted/

# Logs
*.log

# Misc
*.bak
*.swp

